/* Style the header with a background and some padding */
.header {
    overflow: hidden;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: black;
    padding: 0px 10px;
    height: 138px;
    width: 95%;
    position: fixed;

  }
  .artist {
      color: white;
      font-family: Garamond;
      font-weight:700;
  }
  /* Style the header links */
  .header a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
  }
  .navbar li {
    display: inline-block;
    color: white;
 
}
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: black;
    color: gold;
  }
  
  /* Style the active/current link
  .header a.active {
    background-color: dodgerblue;
    color: white;
  } */
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
 
  body {
    background-color: black;
  }

  .heightset {
    height: 300px
  }

  .widthset {
    max-width: 300px;
}
  /* For small devices (e.g. smartphones) */
img {
    max-width: 100%;
    display: inline-block;
  }
  /* For medium devices (e.g. tablets) */
  @media (min-width: 420px) {
    img {
      max-width: 48%;
    }
  }
  /* For large devices (e.g. desktops) */
  @media (min-width: 760px) {
    img {
      max-width: 24%;
    }
  }
  /* Style paragraph */
  p {
    padding-top: 138px;
  }
  /* Style footer */
  .footer {
    overflow: hidden;
    background-color: black;
    padding: 0px 20px;
    height: 100px;
    width: 100%;
    position: fixed;
  }
  /* Style footer icons */
  .footer img {
    max-height: 10px;
    float: right;
    padding-bottom: 120px;
  }
